/* context menu */

/* select-list in menu */
.context-menu.select-list {
  padding: 12px;
}
.context-menu .select-item {
  height: 42px;
  justify-content: flex-start;
  font-size: 16px;
}
.context-menu .select-item__icon .icon {
  filter: brightness(0.1) contrast(1);
}

.context-menu .select-item:active {
  background-color: var(--green-100);
}
.context-menu .select-item.select-item--danger:active {
  background-color: var(--red-200);
}
