/* form */
.form {
  padding: 32px;
  border-radius: 4px;
  background-color: #ffffff;
}
.form.form--border {
  border: 1px solid var(--grey-300);
}
.form.form--shadow {
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
}

/* header */
.form__header {
  display: flex;
  word-wrap: break-word;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 700;
}

/* body */
.form__body {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 24px;
}
.form__body {
  margin: 8px 0px;
  row-gap: 8px;
}
.form__item:has(.input-icon:hover) {
  z-index: 1;
}
.form__item {
  margin: 0px;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.form__label {
  display: flex;
  width: 110px;
  column-gap: 4px;
  padding-right: 4px;
}
.form__label label {
  color: #000;
  font-size: 13px;
  width: fit-content;
}
.form__label .required {
  color: var(--red-500);
  font-size: 13px;
  height: 10px;
}

/* button */
.form__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 12px;
}

/* form layout */
.form__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 12px;
  flex: 1;
  height: fit-content;
}
.form__column {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex: 1;
}
.form__item--group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 8px;
  width: 100%;
}
